*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttonDiv{
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv button{
    
    height: 3rem;
    width: 12rem;
    border-radius: 5px;
}